img {
  max-width: 15%;
  max-height: 20%;
  margin: auto;
  padding-right: 30px;
}

body {
  background-image: url(https://media.istockphoto.com/id/802751622/video/4k-abstract-particles-background-animation-loopable.jpg?s=640x640&k=20&c=GnMTmlJ1V--wG77ZMNmuB-hHaVPXkGI7k7GGcEraNO4=);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap ;
  list-style: none;
  font-size: 35px;
  padding: 0px;
  margin: autopx;
  background-color: aliceblue;
}

.items {
  padding-right: 80px;
 
}

.items a {
  color: blue;
  text-decoration: none;
  font-family: cursive;
  font-size: large;
  padding: 50%;
}

.items a:hover {
  color: blue;
}

body {
  font-family: cursive;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

header {
  color: white;
  padding: 1px;
  text-align: center;
  font-family: cursive;
  font-size: large;
}

section {
  padding: 2em;
}

.ul,
li {
  list-style-type: none;
  font-family: cursive;
  padding: 30px;
}

.section,
Construction,
dev {
  font-family: cursive;
  font-size: x-large;
}

.under {
  max-height: 700px;
  max-width: 700px;
}

.Bee {
  width: 150px;
  width: 150px;
  margin: auto;
  padding: 0px;
}


.nav2{
  background-color: aliceblue;
  padding:auto; 
  margin: 15px;  
list-style: none;
text-align: center;
word-spacing: 50px; 
}

.nav2 a:hover {
  color: blue;
}

.nav3{ background-color: aliceblue;
  padding:auto; 
  margin: 15px;  
list-style: none;
text-align: center;
word-spacing: 50px;}

.nav3 a:hover {
  color: blue;
}


.contact-box{ width:500px 
background-color: white;
box-shadow: 20px; 
position: absoulte; 
display: flex 
margin; auto  
}

.container1{ background-color: purple;}


.bodycon{padding: autopx;
  text-align: center;}

  .navigation1{ background-color: aliceblue;
  padding:auto; 
  margin: 15px;  
list-style: none;
text-align: center;
word-spacing: 50px;
}

  .form1{ display:flex; 
   flex-wrap: wrap;
    padding: 0px;
    margin: auto;
    width: min-content;
    flex-grow: 0;
    flex-shrink: 1;
  font-size: x-large;}


  .navigation1 a:hover {
    color: blue;
  }

  .about {font-size: x-large;}

  .a2{font-size: x-large;}

  .a3{ font-size: x-large;}

  .a4{font-size: x-large}

  .projects{ font-size: x-large;}

 .title{font-size: x-large;}